html {
  font-size: 11px;
  font-family: 'Helvetica Neue', sans-serif;
}

.label {
  font-size: 14px;
  font-family: 'Helvetica Neue', sans-serif;
}

#show {
  font-size: 14px;
  font-family: 'Helvetica Neue', sans-serif;
}
